.notFoundContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    color: #cccccc;
  }

.notFoundCopy {
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.backButton {
    position: absolute;
    opacity: 0;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    margin: 50px auto;
    cursor: pointer;
    transition: opacity 0.3s;
    width: 300px;
    color: #cccccc;
    background: linear-gradient(180deg, #222222 0%, #181818 100%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.35em;
    margin-top: 100px;
    margin-left: 300px;
}

.backButton:hover {
    opacity: 1;
}