.body {
    color: #CCCCCC;
    font-family: 'Satoshi Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.1em;
    max-width: 48%;
    margin-left: 10%;
  }
  
  .spacer {
    height: 2%;
  }
  
  #spacer-top {
    margin-top: 70px;
  }
  
  a {
    text-decoration: none;
    color: #00a9fb;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #008fcc;
  }
  
  #linkGrid {
    display: inline-grid;
    grid-template-columns: repeat(2, 24px);
    align-items: center;
    justify-items: center;
    grid-gap: 40px;
    margin-left: 10%;
    margin-top: 50px;
    transition: 0.1s;
  }
  
  .link {
    transition: 0.1s;
  }
  
  .link:hover {
    transform: translateY(-3px);
    transition: 0.1s;
  }