.Card {
    background: linear-gradient(180deg, #222222 0%, #181818 100%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    transition: .1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card img {
    margin-top: 10px;
    width: 80%;
}

.Card:hover {
    margin-top: -10px;
    box-sizing: border-box;
    transition: .1s;
    box-shadow: 0px 10px 50px #00a9fb50;
    border: 1px solid #00a9fb70;
}

#section1 {
  opacity: 0;
  animation: Section 1s forwards;
}

#section2 {
  opacity: 0;
  animation: Section 1s .1s forwards;
}

#section3 {
  opacity: 0;
  animation: Section 1s .2s forwards;
}

#section4 {
  opacity: 0;
  animation: Section 1s .3s forwards;
}

@keyframes Section {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}