footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
  }
  
  #line {
    height: 2px;
    width: 1640px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgba(34, 34, 34, 0) 0%, #222222 50%, rgba(34, 34, 34, 0) 100%);
  }
  
  #gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #111111 0%, rgba(17, 17, 17, 0) 10%, rgba(17, 17, 17, 0) 90%, #111111 100%);
    position: absolute;
    z-index: 500;
  }
  
  .footerCopy {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 1em;
    color: #555555;
  }
  
  .scroll {
    display: flex;
    margin-bottom: 10px;
  }
  
  .scrollContent {
    width: 1750px;
    animation: scroll 40s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

@media (max-width: 820px) {
    footer {
      display: none;
    }
  }