* {
  font-family: Satoshi Variable;
}

body {
  background-color: #111111;
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Satoshi Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #CCCCCC;
  margin: 0;
}

.s1 {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.35em;
  color: #CCCCCC;
  margin-top: 20px;
}

.bodyCopy {
  font-family: 'Satoshi Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.15em;
  color: #CCCCCC;
  margin: 0;
}

#mainContainer {
  display: flex;
  justify-content: center;
  justify-self: center;
}

#cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 80%;
  margin-top: 7%;
}

#section1 {
  opacity: 0;
  animation: Section 1s forwards;
}

#section2 {
  opacity: 0;
  animation: Section 1s .1s forwards;
}

#section3 {
  opacity: 0;
  animation: Section 1s .2s forwards;
}

#section4 {
  opacity: 0;
  animation: Section 1s .3s forwards;
}

.mainCard {
  background: linear-gradient(180deg, #222222 0%, #181818 100%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  aspect-ratio: 1 / 1;
  transition: .1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCard img {
  margin-top: 10px;
  width: 80%;
}

.mainCard:hover {
  margin-top: -10px;
  box-sizing: border-box;
  transition: .1s;
  box-shadow: 0px 10px 50px #00a9fb50;
  border: 1px solid #00a9fb75;
}

/* Stack */

#backContainer {
  display: flex;
  flex-direction: row;
  transition: .1s;
  text-decoration: none;
}

#backContainer:hover {
  margin-left: -5px;
  transition: .1s;
}

#back {
  margin-right: 40px;
  align-self: center;
  transition: .1s;
  width: 24px;
  height: 24px;
}

#backText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -4px;
}

.pageTitleContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 148px;
  display: flex;
  width: 100%;
}

.pageTitle {
  position: absolute;
  margin-top: -4px;
}

.stackCard {
  background: linear-gradient(180deg, #222222 0%, #181818 100%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  width: 380px;
  height: 380px;
  transition: .1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes Section {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

@media (max-width: 640px) {
  #mainContainer {
    display: none;
  }
}